{% extends 'base.html' %}

{% block content%}
<h3>We've all been there...</h3>
<p>You've had your computer for years, and with time it's just gotten slower and slower. This is caused by bloat and
    file fragmentation that occurs with continuous use. Visiting websites clutters key memory locations with old
    files that are unnecessary. And your hard drive loses pieces of memory that just take up space on your hard disk
    while also slowing it down. Luckily, we at Nartan have created a special Computer Speed-Up tool to help clear
    the bloat and get your computer back up to it's day one speeds. So what are you waiting for, get over to the
    Downloads page and get back to being fast.</p>
{% endblock %}